.search-users{
    display: flex;
    margin: 5px;
    align-content: center;
    justify-content:center;
}

#search-bar{
    width: 300px;
}
#search-users-select{
    display:none;
    margin-left: 10px;
    margin-right: 10px;
}

.table-style {
    /* clear: both; */
    text-align: center; 
    position: relative;
    margin-left: 100px;
    border-color: black;
    padding: 5px;
    
}

#table-content{
    width:90vw;
    margin-left:35px;
    margin-top:15px;
    cursor:pointer;
}

#advanced-search{
    display: flex;
    flex-direction:column;
    align-items:center;
}

#add-user-btn{
    margin-top: 15px;
}

#advanced-btn{
    color: blue;
    text-decoration: none;
    border-bottom: 1px solid blue;
    cursor: pointer;
    margin-bottom:5px;
}